html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "TTLakes";
    src: local("TTLakes-Medium"),
        local("TTLakes-Regular"),
        local("TTLakes-Bold"),
        url("fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
        url("fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
        url("fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 400;

}

@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 700;

}

@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes/TTLakes-Medium.woff") format("woff");
    font-weight: 500;

}

.block {
    background-color: #F8F8F8;
    overflow: scroll;
    font: 400 14px/18px TTLakes;
    letter-spacing: 0.2px;
}

@media (min-width: 320px) and (max-width:767px) {
    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 319px;
        max-width: 320px;
        margin-right: auto;
        margin-left: auto;

    }
}



@media (min-width:768px) and (max-width:1119px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media (min-width: 1120px) {
    .header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 42px;
        max-width: 1096px;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
        background: #F8F8F8;
    }
}


@media (min-width: 320px) and (max-width:767px) {
    .header-buttons {
        justify-content: space-evenly;
        column-gap: 16px;
        align-items: center;
        display: flex;
        align-content: center;
        max-width: 320px;
        height: 88px;
        background: #FFFFFF;
        border-bottom: 1px solid #D9FFF5;

    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .header-buttons {
        justify-content: space-between;
        column-gap: 24px;
        align-items: center;
        display: flex;
        align-content: center;
        width: 100%;
        height: 88px;
        background: #FFFFFF;
        border-bottom: 1px solid #D9FFF5;
    }
}

@media (min-width: 1120px) {
    .header-buttons {

        align-items: center;
        column-gap: 33px;
        display: flex;
        align-content: center;
        min-width: 414px;

    }
}

.header-buttons__button {
    border-width: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    background-position: center;
    background-repeat: no-repeat;

}

.header-buttons__button--burger {
    margin-left: 16px;
    background-image: url("img/iconBurger.svg");
    background-size: 18px 16px;
}

@media (min-width: 768px) and (max-width: 1119px) {

    .header-buttons__button--burger {
        margin-left: 24px;
        background-image: url("img/iconBurger.svg");
        background-size: 18px 16px;
    }
}

.header-buttons__button--logo {
    margin-right: auto;
    border-width: 0;
    width: 96.55px;
    height: 50.81px;
    background-image: url("img/iconLogo.svg");
    background-color: #FFFFFF;
}


@media (min-width: 768px) and (max-width: 1119px) {
    .header-buttons__button--call {
        background-image: url("img/iconCall.svg");
        background-size: 17.96px;
    }
}


.header-buttons__button--chat {
    background-image: url("img/iconChat.svg");
    background-size: 20px;
}


.header-buttons__button--profile {
    background-image: url("img/iconProfile.svg");
    background-size: 20px 18px;
}

.header-buttons__button--repair {
    background-image: url("img/iconRepair.svg");
    background-size: 20px;
}

@media (min-width: 1120px) {
    .header-buttons__button-label {
        display: contents;
        font: 500 16px/24px 'TTLakes';
        letter-spacing: -0.2px;
        min-width: 125px;
    }

}

.header-buttons__button--status {
    margin-right: 16px;
    background-image: url("img/iconCheckStatus.svg");
    background-size: 16px 20px;
}

@media (min-width: 320px) {
    .header-buttons__button--status {
        margin-right: 16px;

    }
}

@media (min-width: 767px) and (max-width: 1119px) {
    .header-buttons__button--status {
        margin-right: 24px;

    }
}

@media (min-width: 1120px) {
    .header-buttons__button--status {
        display: flex;
        background-image: url("img/iconCheckStatus.svg");
        background-size: 16px 20px;
        column-gap: 9px;
        align-items: center;
    }
}


@media (min-width: 320px) and (max-width: 767px) {

    .header-buttons__button--call,
    .header-buttons__button--chat,
    .header-buttons__button--profile,
    .header-buttons__button-label {
        display: none;
    }
}

@media (min-width:768px) and (max-width: 1119px) {
    .header-buttons__button-label {
        display: none;
    }

}

@media (min-width: 1120px) {

    .header-buttons__button--burger,
    .header-buttons__button--chat,
    .header-buttons__button--profile,
    .header-buttons__button--logo,
    .header-buttons__button--call {
        display: none;
    }
}

.header-buttons__divider-1,
.header-buttons__divider-2 {

    background-color: #EAEAEA;
    border-radius: 1px;
    width: 2px;
    height: 32px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .header-buttons__divider-2 {
        display: none;
    }
}

@media (min-width: 1120px) {

    .header-buttons__divider-1,
    .header-buttons__divider-2 {
        display: none;
    }
}

@media (min-width:1120px) {
    .header-buttons__repair-container {
        display: flex;
        font: 500 16px/24px 'TTLakes';
        letter-spacing: -0.2px;
        margin-left: auto;
        column-gap: 9px;
        align-items: center;

    }
}

@media (min-width:1120px) {
    .header-buttons__status-container {
        display: flex;
        align-items: center;
        font: 500 16px/24px 'TTLakes';
        letter-spacing: -0.2px;
        column-gap: 9px;
        align-items: center;

    }
}

.h1-container {
    display: flex;
    flex-wrap: nowrap;
    height: 40px;

}

@media (min-width: 320px) and (max-width: 767px) {
    .h1-container {
        width: 304px;
        margin-top: 24px;
    }
}

@media (min-width:768px) and (max-width: 1119px) {
    .h1-container {
        width: 281px;
        margin-top: 24px;
    }
}

@media (min-width:1120px) {
    .h1-container {
        margin-right: auto;
        width: 274px;

    }
}

.h1-container__img {
    width: 4px;
    height: 40px;
    border-radius: 3px;
    background-image: url("img/h1-container__img.svg");
}


.h1-container__text {
    width: 100%;
    height: 40px;
    font: 700 28px/40px 'TTLakes';
    letter-spacing: -0.6px;

}

@media (min-width:320px) and (max-width: 767px) {
    .h1-container__text {
        padding-left: 16px;


    }
}

@media (min-width:768px) and (max-width: 1119px) {
    .h1-container__text {
        padding-left: 24px;
    }
}

@media (min-width:1120px) {
    .h1-container__text {

        padding-left: 33px;

    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .menu {
        display: flex;
        flex-wrap: nowrap;
        max-width: 320px;
        height: 40px;
        overflow-x: scroll;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width: 768px) and (max-width: 1119px) {
    .menu {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        max-width: 800px;
        height: auto;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
    }
}

@media (min-width: 1120px) {
    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1096px;
        height: auto;
        margin-top: 24px;
        padding-left: 33px;
        margin-left: auto;
        margin-right: auto;
    }
}

.menu__button {
    font: 500 16px/24px 'TTLakes';
    letter-spacing: -0.2px;
    color: #7E7E82;
    background-color: #F8F8F8;
    border-width: 0;


}

.menu__button:hover {
    border: #B8FFEC 2px solid;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.menu__button--brands {

    min-width: 233px;
    height: auto;



}


@media (min-width: 320px) and (max-width: 767px) {
    .menu__button--devices {
        min-width: 246px;
        max-width: 100%;
        height: 40px;
        padding-left: 16px;

    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .menu__button--devices {
        min-width: 248px;
        height: 40px;
        padding-left: 16.67px;
    }
}


@media (min-width:1120px) {
    .menu__button--devices {
        min-width: 254px;
        height: auto;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .menu__button--services {
        min-width: 250px;
        max-width: 100%;
        height: 40px;
        position: relative;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .menu__button--services::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        width: 40%;
        height: 100%;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
}


@media (min-width: 768px) and (max-width: 1119px) {
    .menu__button--services {
        min-width: 211px;
        height: 40px;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .menu__button--prices {
        min-width: 143px;
        height: 40px;
    }
}
@media (min-width: 768px) and (max-width: 1119px) {
    .menu__button--prices {
        min-width: 143px;
        height: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {

    .menu__button--special-prices {
        min-width: 172px;
        position: relative;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width:1119px) {

    .menu__button--special-prices::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
}

@media (min-width: 1120px) {
    .menu__button--prices {
        max-width: 100%;
        height: 40px;
    }
}

@media (min-width: 1120px) {
    .menu__button--centers {
        min-width: 233px;
        height: 40px;
    }
}

@media (min-width: 1120px) {
    .menu__button--special-prices {
        min-width: 192px;
        height: 40px;

    }
}

@media (min-width: 1120px) {
    .menu__button--reviews {
        width: 95px;
padding-left: 20px;
        height: 40px;




    }
}







@media (min-width: 1120px) {

    .menu__button--services,
    .menu__button--properties {
        display: none;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .main {
        display: flex;
        flex-direction: column;
        column-gap: 24px;
        max-width: 320px;
        height: auto;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .main {
        display: flex;
        flex-direction: row;
        column-gap: 48px;
        max-width: 768px;
        height: auto;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media (min-width: 1120px) {
    .main {
        display: flex;
        flex-direction: row;
        max-width: 1096px;
        height: auto;
        column-gap: 39.65px;
        margin-top: 7px;
        padding-left: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .main__text--orientation-768,
    .main__text--orientation-1120 {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1119px) {
    .main__text--orientation-768 {
        display: contents;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {

    .main__text--orientation-1120 {
        display: none;
    }
}

@media (min-width: 1120px) {
    .main__text--orientation-1120 {
        display: contents;
    }
}

.main__text {
    letter-spacing: 0.2px;
    height: auto;
    color: #1B1C21;
}

@media (min-width: 320px) and (max-width: 767px) {

    .main__text {
        font: 400 14px/18px 'TTLakes';
        max-width: 288px;



    }
}

@media (min-width: 768px) and (max-width: 1119px) {

    .main__text {
        font: 400 14px/20px 'TTLakes';
        max-width: 336px;
        padding-left: 24px;
        text-align: left;

    }
}

@media (min-width: 1120px) {

    .main__text {
        margin-top: 8px;
        font: 400 14px/20px 'TTLakes';
        max-width: 490px;

    }
}

.main__read-more {
    display: flex;
    border-width: 0;
    background-color: #F8F8F8;
    width: 140px;
    height: 24px;
    font: 500 16px/24px 'TTLakes';
    letter-spacing: -0.2px;

}

.main__read-more--img {
    background: url("img/expand.svg") center no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}


@media (min-width: 320px) and (max-width:767px) {

    .main__logo-container {
        margin-top: 16px;
        max-width: 320px;
        height: auto;

    }
}

@media (min-width: 768px) and (max-width: 1119px) {

    .main__logo-container {

        max-width: 360px;
        height: auto;

    }
}

@media (min-width: 1120px) {

    .main__logo-container {
        max-width: 531.35px;
        height: auto;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .main__logo {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1120px) {
    .main__logo {
        width: 100%;
    }
}

@media (min-width: 1120px) {
    .main__logo {
        width: 100%;
    }
}